body {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div {
    border: 1px solid black;
}

.container {
    min-width: 100px;
    min-height: 100px;
}

.row, .rowDiv{
    min-height: 10px;
    min-width: 10px;
}

.row {
    display: flex;

}
