body {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div {

    margin: 16px;
}

.container {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

.row, .rowDiv{
    min-height: 1px;
    min-width: 1px;
    flex: 1;
}

.row {
    display: flex;
}

.sizeButton {
    margin: 16px;
}

